.segment.project {
  border-radius: inherit;
  overflow: auto;

  &>img.background {
    position: fixed;
    left: 15px;
    top: 113px;
    width: 100%;
    margin: -15px;
    z-index: -1;
    filter: blur(5px);
  }

  .ui.sticky.segment {
    margin-top: 160px;
  }

  p {
    font: 18px/30px georgia,serif;
    text-rendering: optimizelegibility;
    line-height: 36px;
    text-align: justify;
  }
}

#projects {
  .description {
    text-align: justify;
  }
}