// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blur {
  filter: blur(5px);
}

.wrapper {
  width: 100%;
  max-width: 1048px;
  margin: auto;
  padding: 0px 20px;
  clear: both;
}