= form_for :project, html: {id: 'filter', class: 'ui form'}, method: :get do |f|
  = f.hidden_field :target_group, value: @filter.target_group
  = f.search_field :project_name, value: @filter.project_name
